# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Alexandra\Desktop\FACULTATE\AN II\SEM 2\Java\Laboratoare\laborator 5\Compulsory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
